/* FireZEN */

/* Hide secondary tab button */
#new-tab-button {
  display: none;
}

/* Hide left border on tabs area */
#tabbrowser-tabs {
  border-inline-start: none !important;
}

#PanelUI-menu-button .toolbarbutton-icon {
  list-style-image: url("chrome://sine/content/ag7cgog8f-vatc068tj-pfwnzowlv/fire.png");
}
